<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.random.stochastic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MorningTheme">

        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".PickForMe"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".RandomNumber"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".RollDice"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".TossCoin"
            android:parentActivityName=".MainActivity">
        </activity>

    </application>

</manifest>